
.divContainerCardEhOutlet {

    .divCardDeApresentacao {
        width: 30%;
    }

    .divOutlet{
        width: 70%;
    }
}

.divContainerCardEhOutlet_md {

    .divCardDeApresentacao_md {
        width: 100%;
    }

    .divOutlet_md{
        width: 100%;
    }
}