
.divContainerCardEhOutlet {

    .divCardDeApresentacao {
        width: 20%;
    }

    .divOutlet{
        width: 80%;
    }
}

.divContainerCardEhOutlet_sm {

    .divCardDeApresentacao_sm {
        width: 80%;
    }

    .divOutlet_sm{
        width: 100%;
    }
}